<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ducun Music</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>

<body>
    <div
        class="px-24 min-h-screen bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% ...">
        <nav class="py-4">
            <div class="flex flex-wrap items-center justify-between mx-auto">
                <a href="#" class="flex items-center">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap 
                                    dark:text-white">Ducun Music</span>
                </a>
                <div class="block w-auto">
                    <ul class="font-medium flex p-4">
                        <li>
                            <a href="#" class="block py-2 px-3 text-white rounded
                                            hover:text-gray-400">Tools</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-3 text-white rounded
                                            hover:text-gray-400">About Us</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <div class='pt-4 pb-12'>

            <div class='pb-4'>
                <h1 class='text-[48px] drop-shadow text-gray-100 font-medium '>
                    Music Is The Shorthand<br />Of Emotions
                </h1>

                <p class='text-medium text-gray-100'>
                    It's our mission at Ducun Music to give you the opportunities<br />to help yout choose your best
                    Emotions
                </p>
            </div>


            <div class="py-12">
                <div class="mx-auto grid max-w-7xl gap-y-20 xl:grid-cols-3">
                    <div class="max-w-2xl">
                        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Meet our leadership
                        </h2>
                        <p class="mt-6 text-medium text-white">Libero fames augue nisl porttitor nisi, quis. Id ac
                            elit odio vitae elementum enim vitae ullamcorper suspendisse.</p>
                    </div>
                    <ul role="list" class="grid gap-y-12 ml-24 sm:grid-cols-2 sm:gap-y-8 xl:col-span-2 ">
                        <li>
                            <div class="flex items-center gap-x-6">
                                <img class="h-16 w-16 rounded-full"
                                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="" />
                                <div>
                                    <h3 class="text-base font-semibold leading-7 tracking-tight text-white">Leslie
                                        Alexander</h3>
                                    <p class="text-sm font-semibold leading-6 text-white">Co-Founder / CEO</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center gap-x-6">
                                <img class="h-16 w-16 rounded-full"
                                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="" />
                                <div>
                                    <h3 class="text-base font-semibold leading-7 tracking-tight text-white">Leslie
                                        Alexander</h3>
                                    <p class="text-sm font-semibold leading-6 text-white">Co-Founder / CEO</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center gap-x-6">
                                <img class="h-16 w-16 rounded-full"
                                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="" />
                                <div>
                                    <h3 class="text-base font-semibold leading-7 tracking-tight text-white">Leslie
                                        Alexander</h3>
                                    <p class="text-sm font-semibold leading-6 text-white">Co-Founder / CEO</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>

</html>